page-list-master {
   #map {
    height: 50%;
  }
   .from {
    position: absolute;
    top:15px;
    left: 15px;
    z-index: 5;
    margin-bottom: 12px;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }
    .to {
    position: absolute;
    top:55px;
    left: 15px;
    z-index: 5;
    margin-top: 12px;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }
}
