

<ion-content>
  <div id="search">
  <ion-searchbar (ionInput)="getRoutes($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-list>
    <button ion-item (click)="openRoutes(route)" *ngFor="let route of currentRoutes">
      <ion-avatar item-start>
        <ion-icon name="md-bus" class="bus-icon"></ion-icon>
      </ion-avatar>
      <h2>{{route.numberplate}}</h2>
      <p>{{route.eta}}</p>
      
      <!--<ion-note item-end *ngIf="item.note">{{item.eta}}</ion-note>-->
    </button>
  </ion-list>
  </div>
  <page-listview></page-listview>
 <!--<div class="map" id="map" #map></div>-->
</ion-content>